* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: white;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid navy;
  background: linear-gradient(35deg, #ead2ad, #f2ead0, #bdc0fb, #93b7fa);
  width: 350px;
  height: 500px;
}
/*-----------------header-end----------------*/
.header {
  display: flex;
  height: 30px;
  margin: auto 10px;
}
.close {
  text-align: center;
  margin: 3px;
}
.text {
  height: auto;
  flex: 1;
}
.text.playlist {
  margin-left: 70px;
}
/*-----------------top-end----------------*/
/* 이미지에서 마진 말고 가운데 정렬하기 찾아봐야 함*/
.top {
  display: flex;
}
.b.square {
  background-color: white;
  margin: 15px;
  width: 80px;
  height: 80px;
}
.material-symbols-outlined.image {
  font-size: 60px;
  margin-top: 10px;
  margin-left: 8px;
}
.container {
  flex: 1;
  margin-top: 25px;
}
.big.text {
  font-size: 30px;
  font-weight: 10px;
}
.small.text {
  font-size: 13px;
}
/*-----------------middle-----------------*/
.middle {
  display: flex;
}
.long.square {
  display: flex;
  background-color: #afeeee;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  margin: 10px 15px;
}
.long.square,
.circle {
  box-shadow: -1.5px 1.5px black;
}
.material-symbols-outlined .play {
  margin-right: 30px;
}
.text.play {
  text-align: center;
}
.circle {
  background: #afeeee;
  border-radius: 50%;
  border: 1.5px solid black;
  width: 40px;
  height: 40px;
  margin: 10px 15px;
}
/*-----------------bottom-----------------*/
.matargasti,
.attitude,
.try,
.sunflower {
  display: flex;
}
.square {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.matargasti.square {
  background-color: #ffffe0;
}
.attitude.square {
  background-color: #afeeee;
}
.try.square {
  background-color: #5f9ea0;
}
.sunflower.square {
  background-color: #2f4f4f;
}
