* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing */
}
body {
  background-color: lightgray;
}
.full {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.rotate {
  transform: rotate(90deg);
}
.playlist {
  width: 250px;
  height: 450px;
  background: white;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
}
/* header end */
.middle .circle {
  background-color: lightgreen;
  width: 60px;
  height: 60px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0 auto;
}

.middle .text {
  text-align: center;
}
.middle .text h5 {
  margin-top: 15px;
}
.buttons .black {
  background-color: black;
}
.buttons .black,
.buttons .gray {
  border-radius: 30px;
  width: 90px;
  height: 30px;
  border: none;
}
.buttons .gray {
  background-color: darkgray;
}
